
<% if user_signed_in? %>
	<h5>Welcome <%=current_user.email %> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></h5>
<% end %>
<br>

<table id="id" border="1">
	<tr>
		<td>About</td>
		<td><%= @user.full_name%></td>
	</tr>
	<tr>
		<td>Profile</th>
		<td><%= @user.about%></td>
	</tr>
</table>

<br>

<%= link_to "Cohort List", cohortions_path %>

	<% if @cohortadjects.any? %>
		<h1>Adjectives Associated to <%= current_user.email%></h1>

		<table id="id" border="1">
			<div class="col-md-8">
				<% @cohortadjects.each do |ca| %>
					<tr>
						<td>
							<%= ca.adjective %>
						</td>
					</tr>
				<% end %>
	  		</div>
  		</table>
	<% end %>
